$border-default: 0.3rem;


.node-container {
    min-width: 4rem;
    border-radius: $border-default;
    font-size: 0.4rem;

    &_header {
        height: 0.6rem;
        text-align: center;
        border-radius: $border-default $border-default 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_content {
        padding: 0.2rem;
        font-size: 0.5rem;
        border-radius: 0 0 $border-default $border-default;
    }
}

.choice-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    &_button {
        display: inherit;
        flex-direction: row;
    }

}

.choice {
    display: flex;
    text-align: center;
}

.choice-number {


    width: 0.8rem;

}

.button {
    background-color: bisque;
    width: 3rem;
    font-size: 0.4rem;

    margin: 0.1rem;

    cursor: pointer;



    text-align: center;
    align-self: center;

    border-radius: $border-default;
}

.handle-test {
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-node {
    min-width: 2rem;
    width: 5rem;
    height: 0.4rem;

    margin-bottom: 0.3rem;

    font-size: 0.4rem;
}

.handle {
    background-color: rgb(255, 80, 80);
    height: 0.6rem;
    min-width: 0.3rem;
    position: relative;

    border-radius: 10rem;


    &_choice 
    {
        width: 0.6rem;
        height: 0.6rem;
        border-radius: 50%;
    }

}

.green {
    background-color: lightgreen;
}

.red {
    background-color: lightcoral;
}

.blue {
    background-color: rgb(124, 184, 184);
}

.bc {
    background-color: rgba(248, 248, 248);
}